*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{

background:#f2f5f9;

}

.container{

width:900px;

margin:40px auto;

background:white;

padding:35px;

border-radius:10px;

box-shadow:0 10px 25px rgba(0,0,0,.15);

}

h1{

text-align:center;

color:#1565c0;

}

p{

text-align:center;

margin:10px;

}

.search-box{

display:flex;

gap:10px;

margin-top:25px;

}

input{

flex:1;

padding:14px;

font-size:16px;

border:1px solid #ddd;

border-radius:5px;

}

button{

width:180px;

background:#1565c0;

color:white;

border:none;

cursor:pointer;

border-radius:5px;

font-size:16px;

}

button:hover{

background:#0d47a1;

}

.loader{

display:none;

margin-top:25px;

font-weight:bold;

text-align:center;

}

.card{

margin-top:25px;

padding:20px;

border-radius:8px;

background:#fafafa;

border:1px solid #ddd;

}

.row{

display:flex;

justify-content:space-between;

padding:10px;

border-bottom:1px solid #eee;

}

.good{

color:green;

font-weight:bold;

}

.average{

color:#ff9800;

font-weight:bold;

}

.bad{

color:red;

font-weight:bold;

}

footer{

margin-top:40px;

text-align:center;

}